<div class="row">
  <% if current_user.admin %>
    <%= button_to "Create Game", new_game_path(@game), method: 'get', class: "btn btn-primary"%>
  <% end %>
</div>
<br>
<div class="row">
  <% @games.each do |game| %>
    <div class="col col-md-3">
      <%= link_to game.name, game_path(game) %>
    </div>
  <% end %>
</div>