<div class="row">
  <h2 class="col col-md-10"><%= @manufacturer.name %></h2>
  <% if current_user.admin %>
    <%= button_to "Edit", edit_manufacturer_path(@manufacturer), method: 'get', class: "btn btn-primary"%>
  <% end %>
</div>

<div class="row">
  <div class="col">
    <% @manufacturer.games.each do |game| %>
      <%= link_to game.name, game_path(game), class: 'row' %>
    <% end %>
  </div>
</div>