<div class="row">
  <div class="col">
    <h2><%= @manufacturer.name %></h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <% @manufacturer.games.each do |game| %>
      <%= link_to game.name, game_path(game), class: 'row' %>
    <% end %>
  </div>
</div>